! ------------------------------------------------------- !
!     Vortex Ring paramaeters (flow_select = 5)           !
! ------------------------------------------------------- !

    1000.0          ! bdyfx
    15.0            ! forbeta
    1.25 0.0 1.57   ! xc, yc, zc  ( x-, y-, and z-location of force centroid )
    0.25 0.25       ! L, rad      ( Length and radius of cylindrical force )

! ------------------------------------------------------- !
!      Streamwise Vortex parameters (flow_select = 1X)    !
! ------------------------------------------------------- !

    4.00, 0.10     ! vortGamma, vortSigma
    0.00, 0.00      ! vortY, vortZ      
    1               ! vNum ( # of vortices - currently only 1 or 2 supported )
    0.5             ! vortSpace ( y-spacing )
