! ------------------------------------------------------- !
!     Vortex Ring paramaeters (flow_select = -1 or 5)     !
! ------------------------------------------------------- !

    1000.0 0.0 0.0  ! ampbdy1 (bdyfx), ampbdy2, c11amp   
    0.05            ! tfrac: BODY FORCE DURATION 
    15.0            ! forbeta
    1.25 1.0 1.57   ! xc, yc, zc  ( x-, y-, and z-location of force centroid )
    0.25 0.25       ! L, rad      ( Length and radius of cylindrical force )

! ------------------------------------------------------- !
!      Streamwise Vortex parameters (flow_select = 6)     !
! ------------------------------------------------------- !

    5, 0.025        ! vortGamma, vortSigma
    2.00, 2.00      ! vortY, vortZ      
    1               ! vNum ( # of vortices - currently only 1 or 2 supported )
    0.5             ! vortSpace ( y-spacing )
