! -------------------------------------------------------- !
! Main time step, grid, flow domain, and solver parameters !
! -------------------------------------------------------- !
    100             ! NSTEPS      ( number of steps to run before stopping )
    100             ! IPRNFRQ     ( number of steps between each output of the flowfield )
    0.00001         ! DT          ( time step: 0.00125/0.000625/0.0003125/0.00015625 )
    50              ! gain        ( gain for the integral term in the immersed boundary control scheme - not often changed )
    50              ! ugain       ( gain for the velocity term in the immersed boundary control scheme - not often changed )
    0.5             ! THETA       ( implicitness factor - not often changed )
    32              ! NY1         ( number of grid cells in the y-direction - defined in grid_size module )
    32              ! NZ1         ( number of grid cells in the z-direction on the regular grid - defined in grid_size module )
    64              ! NX1         ( number of grid cells in the x-direction on the regular grid - defined in grid_size module )
    0               ! BFTAIL      ( number of grid cells in the x-direction for the buffer zone )
    2.00            ! YL          ( length of the computational domain in the wall-normal direction )
    3.1415927       ! ZL          ( length of the computational domain in the spanwise direction ) 3.1415927
    12.566371       ! XL          ( length of the computational domain in the streamwise direction ) 12.566371
    100.0           ! RE          ( "Code Reynolds number", equal to 1/nu, where nu is the kinematic viscosity )
    60.0            ! XSTART      ( location along a flat plate to which the boundary layer profile created by the buffer zone corresponds )
    10.0            ! Uinf        ( the free stream velocity/top u BC )
    0               ! KWALL       ( the y-plane corresponding to the nominal wall location )
    2000            ! Perturb staying time (number of iterations)
    180.0           ! R_tau       ( Reynolds number for channel flow only )
    0.0             ! Grav (cm/s^2)

! ------------------------------------------------------- !
! Flags and switches for controlling how the code behaves !
! ------------------------------------------------------- !

    0               ! IRSTRT      ( 0 means new run, 1 means normal restart, 2 means resolution change restart )
    0               ! CRSTRT      ( 0 means new polymer, 1 means restart polymer )
    3               ! print3d     ( Printing format - 0 = no printing | 1 = ASCII | 2 = ASCII --> .plt | 3 = write directly .plt | -1 = GMU print )
    0               ! geomtype    ( 0 means flat wall, 2 = 2D brick, 3 = 3D brick )
    1               ! particle_flag        ( 0 = tracer particle, 1 = passive particle )
    1               ! flow_select          ( 0 = still fluid, 1 = channel flow, 2 = 2D Couette, 3 = 3D Couette, 4 = Blasius BL, 5 = Vortex Ring (New), 1X = Gaussian vortex + X flow (e.g., 10 = only vortex, 11 = vortex + channel, etc.) )
    0               ! itarget ( 0 = polymer ocean (or nothing) | 1 = Exponential model | 2 = Linear model )
    0               ! ipeter (if = 0 then F = 1 otherwise the Peterlin function is used)
    0               ! ipolyflag: 1 include polymer effects 0 = no polymer coupling
    0               ! scl_flag             ( 0 = no scalar calculations, 1 = initial scalar, 2 = scalar source, 3 = uniform scalar, 4 = targeting sclar, 10 = polymer ocean)

! ------------------------------------------------------- !
!                   Particle parameters                   !
! ------------------------------------------------------- !

    1024   ! npart       ( Number of particles to seed in the flow - defined in grid_size module)
    1      ! new_part    ( New particle distribution: 0 = no new generation, 1 = uniform, 2 = sphere, 3 = circle, 4 = x-sheet, 5 = near-wall )
    0.0    ! ratio       ( Relative particle density - i.e., rho_p/rho_f )
    0.0085 ! a [cm]      ( Bubble radius )
    1.00   ! C_mu        ( Viscosity coefficient = (1 + 3mu_p/2mu_f)/(1 + mu_p/mu_f) )
    2      ! CD_switch   ( 0 = drag off, 1 = C_mu bubble, 2 = Sphere correlation, 3 = curve fit )

! ------------------------------------------------------- !
!               Scalar/Polymer parameters                 !
! ------------------------------------------------------- !

    100.0                            ! zlmax max polymer length
    1.0                              ! tpoly - polymer relaxation time
    0.0026                           ! alpha_poly - polymer constant in nonlinear PEO model (in PPM)
    0.1                              ! DIFFPOLY - Schmidt number of polymer (numerical stabilizer)
    1.0                              ! C11
    1.0                              ! C22
    1.0                              ! C33
    0.9                              ! qbeta
    1.0                              ! DIFF - Prandtl/Schmidt number of scalar
    100.0                            ! deltaT - Max concentration (PPM) or scalar emission rate (PPM/(time step)/particle)
    0.30 0.30 0.30                   ! sigmax,sigmay,sigmaz
    0                                ! src_start (number of time steps before scalar starts releasing)
    -1                               ! src_stop (if less than src_start, src_stop = numsteps)
    0                                ! scltarg - Choose type of targeting: 0 = no targeting, 1 = high Q, 2 = low Q
